<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WriteImageToBlobField.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WriteImageToBlobField.Properties.Settings>
            <setting name="sqlServer" serializeAs="String">
                <value />
            </setting>
            <setting name="sqlDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="sqlTable" serializeAs="String">
                <value />
            </setting>
            <setting name="sqlFieldname" serializeAs="String">
                <value />
            </setting>
            <setting name="sqlUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="sqlPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="sqlConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="imgFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="sqlDistinction" serializeAs="String">
                <value />
            </setting>
            <setting name="lastUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastCompress" serializeAs="String">
                <value>False</value>
            </setting>
        </WriteImageToBlobField.Properties.Settings>
    </userSettings>
</configuration>